@font-face {
  font-family: "ZillaSlab";
  font-display: "fallback";
  src: url("../fonts/ZillaSlab-Regular.woff2") format("woff2"),
    url("../fonts/ZillaSlab-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ZillaSlab";
  font-display: "fallback";
  src: url("../fonts/ZillaSlab-Bold.woff2") format("woff2"),
    url("../fonts/ZillaSlab-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
